@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
	/* overflow: hidden; */
	/* background: #ebd9dd; */	
	/* background-image: linear-gradient(#ffa87b,#ffffff); */
	background-color: #FFFFFF;
}


header {
	/* margin-top: 9vh; */
	/* margin-left: 6vw;
	margin-right: 10vw; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2vw;
	background-color: #f8f7f7;
    height: 12vh;
	width: 100;
}

header h1{
    color: #2EB84C;
    font-size: 28px;
    font-weight: 500;
	/* background-color: greenyellow; */
    padding: 5px 25px;
    border-radius: 8px;  
	/* border: 2px solid black;   */
}

.logo img{
	width: 3vw;
}

.logo{
	display: flex;
	text-align: center;
  }

.total-income {
	color: var(--grey);
	font-size: 28px;
	font-weight: 900;
	background-color: #2EB84C;
	padding: 4.5px 25px;
	border-radius: 8px;
	color: white;
}

h2{
	width: 100%;
	height: 30vh;
	font-size:4vw;
	text-align: center;
	font-weight: 600;
	font-family: sans-serif;
	margin-top: 10vh;
}

h2 span{
	color: #2EB84C;
	
}

.income-form {
	display: block;
	margin-top: 3vh;
    height: 10vh;
    color: var(--grey);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border:2px black solid;
	width: 80%;
	text-align: center;
	margin-left: 8vw;
	border-radius: 0.8vw;
}

.inner-elem {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-evenly;
	border-radius: 8px;
}

.submit {
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;	
	color: var(--dark);
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.5vw;
	margin-left: 6vw;
	background-color: #2EB84C;
	color: white;
}

.submit:hover{
	padding: 0.45vw;
  }

.submit1{
	margin-left: 6vw;
	width: 17vw;
	border-radius: 0.5vw;
}

.submit1:hover{
	border:2px black solid;
}

.submit2{
	margin-left: 6vw;
	width: 10vw;
	border-radius: 0.5vw;
}

.submit2:hover{
	border:2px black solid;
}

.submit3{
	margin-left: 6vw;
	width: 10vw;
	border-radius: 0.5vw;
}

.submit3:hover{
	border:2px black solid;
}

hr{
	margin-top: 5vh;
}

.main-income-list{
	min-height: 80vh;
	width: 80%;
	margin-top: 9vh;
	background-color: #EFFDF8;
	margin-left: 8%;
	border-radius: 0.5vw;
	/* color: wheat; */
}

.income-list{
	display: flex;
	/* align-items: center; */
	/* justify-content: space-evenly; */
	background-color: #eaf6f6 ;
    min-height: 10vh;
    width: 100%;
}

.income-list-1{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
}

.income-list-2{
	width: 10%;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: end;
}

.income-list-2-button{
	background-color: red;
	text-align: center;
	padding:0.47vw 0.8vw;
	/* margin-top: 2.4vh; */
	color: white;
	border-radius: 0.5vw;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.9vw;
  }

h5{
	/* margin-top: 10vh;	 */
	text-align: center;
}

.list-description{
	color: black;
	font-size: 1.2vw;
	font-family: sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	width: 40%;
	overflow: hidden;
	text-align: left;
  }
  
  .list-price{
	color:#2EB84C ;
	margin-left: 6vw;
  }

  .phone{
	display: none;
  }

  h3{
	display: none;
  }
  
  @media (max-width:600px) {
	
	header{
	  width: 100%;
	}
  
	header h1{
	  display: none;
	}
  
	.total-income{
	  padding:4px 10px;
	  font-size: 6vw; 
	}
  
	.logo img{
	  width: 12vw;
	}
  
	h2{
	  /* width: 100%;
	  font-size: 9vw;
	  margin-top: 3vh; */
	  display: none;
	}
  
	.income-form{
	  width: 80%;
	  flex-direction: column;
	  height: 60vh;
	}
    
    .phone{
		width: 100%;
	    font-size: 10vw;
	    margin-top: 3vh;
		display: block;
		height: 30vh;
		text-align: center;
		font-family: sans-serif;

	}
	
	.phone span{
		color: #2EB84C;
		font-weight: 600;
	}
  
   .income-form{
	width: 90%;
	margin-left: 5.2vw;
	/* align-items: center; */
   }
  
   h3{
	display: block;
   }

   .inner-elem {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 8px;
	flex-direction: column;
   }
  
   .submit1{
	/* margin-left: 6vw; */
	width: 17vw;
	border-radius: 0.5vw;
   }

   .submit1:hover{
	border:2px black solid;
   }

   .submit2{
	/* margin-left: 6vw; */
	width: 10vw;
	border-radius: 0.5vw;
   }

   .submit2:hover{
	border:2px black solid;
   }

   .submit3{
	/* margin-left: 6vw; */
	width: 10vw;
	border-radius: 0.5vw;
   }

   .submit3:hover{
	border:2px black solid;
   }
  
  
  
  
  
  
  
  
  
  
  
  }

























